body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    width: 100%;

}
.half-width{
    float: left;
    width: 40%;
}
.img1-cntl{
    width: 480px;
    height: 520px;
    padding: 179px 0px 0px 38px;
}
#first-sec{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 0px 0px 860px 90px;
    margin-bottom: -160px;
    margin-top: -10px;
}
#text-cntl-span{
    font-size: 60px;
    font-weight: bolder;
    color: #EC4C7A;
}
.anchor{
    text-decoration: none;
    color: white;
    background-color:  #EC4C7A;
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}
.para1-area-control{
    padding: 245px 0px 0px 148px;
    font-size: 35px;
}
.biography{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 0px 0px 850px 90px;
}
.img2-cntl{
    width: 480px;
    height: 520px;
    padding: 250px 0px 0px 70px;
}
.para2-area-control{
    padding: 320px 0px 0px 70px;
    width: 45%;
}